graft src
recursive-include zlib-1.3.1 *.c *.h
recursive-exclude zlib-1.3.1 ChangeLog configure FAQ INDEX Makefile* make_vms.com README
prune zlib-1.3.1/amiga
prune zlib-1.3.1/as400
prune zlib-1.3.1/examples
prune zlib-1.3.1/msdos
prune zlib-1.3.1/old
prune zlib-1.3.1/projects
prune zlib-1.3.1/qnx
prune zlib-1.3.1/win32
